{{#if this.isHomepage}}
<div id="after-header-content">
    <div class="banner-grid">
        <a class="banner-item" href="/">
            <div class="banner-image first-image"></div>

            <div class="banner-item-text-area">
                <div class="banner-item-title">Payment collection</div>
                <div class="banner-item-description">Let's get you setup and ready to move money around the globe</div>
            </div>
        </a>

        <a class="banner-item" href="/">
            <div class="banner-image second-image"></div>

            <div class="banner-item-text-area">
                <div class="banner-item-title">Card payment</div>
                <div class="banner-item-description">Let's get you setup and ready to move money around the globe</div>
            </div>
        </a>

        <a class="banner-item" href="/">
            <div class="banner-image third-image"></div>

            <div class="banner-item-text-area">
                <div class="banner-item-title">SDKs</div>
                <div class="banner-item-description">Let's get you setup and ready to move money around the globe</div>
            </div>
        </a>
    </div>
</div>
{{/if}}