@import "mixins";

.mobile-view {
  .d-header .wrap .contents .panel {
    .header-buttons {
      @media screen and (min-width: 30rem) {
        display: block;
      }

      .btn-custom-header-dropdown-mobile .btn .d-icon {
        color: #2a3362;
      }

      .top-level-links {
        @include dropdown;
        left: 0;
        top: 0;
        margin: 100% 0 0 -50% !important;
        width: auto;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: scroll;
        max-height: 90vh;

        li {
          width: 100%;

          @media screen and (min-width: 768px) {
            width: auto;
          }
        }
      }
    }

    .icons.d-header-icons {
      margin-left: 0.5rem
    }
  }

  .floating-search-input {
    & + .panel {
      margin: 0;
    }

    @media screen and (min-width: 45rem) {
      & {
        display: block !important;
      }
    }
  }
  
  li.search-dropdown {
    @media screen and (min-width: 45rem) {
      & {
        display: none !important;
      }
    }
  }

  .custom-header-dropdown {
    display: block;
    position: initial;
    transform: scale(1);
    box-shadow: none;
    margin-top: 1rem;
    min-width: unset;

    .custom-header-link-desc {
      display: none;
    }
  }

  .dropdown-header-open {
    overflow-y: hidden;
    height: 100vh;
    position: fixed;
  }
}
