@import 'mixins';
@import 'buttons';

// Font family
@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Thin) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Thin-Italic) format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Light) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Light-Italic) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Regular) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Regular-Italic) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Medium) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Medium-Italic) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Bold) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Bold-Italic) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Black) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: 'Moderat';
  src: url($Moderat-Black-Italic) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Millik';
  src: url($Millik-Regular) format("truetype");
  font-weight: 400;
}

// CJ's Common styles START

$black10: #f2f2f2;
$black20: #e0e0e0;
$black40: #828282;
$black60: #4f4f4f;
$black80: #333333;
$placeholder: #bdbdbd;
$primary: #ff5805;
$primary-light: #fff6e9;
$secondary: #2a3362;
$tertiary: #ffffff;

@mixin font1 {
  font-size: 1rem; // 16px
  line-height: 1.2rem; // 19.2px
  font-weight: 500;
}

@mixin font2 {
  font-size: 0.875rem; // 14px
  line-height: 1.05rem; // 16.8px
  font-weight: 500;
}

@mixin font3 {
  font-size: 0.75rem; // 12px
  line-height: 0.9rem; // 14.4px
  font-weight: 400;
}

@mixin font4 {
  font-size: 1.125rem; // 18px
  line-height: 1.35rem; // 21.6px
  font-weight: 700;
}

@mixin font5 {
  font-size: 0.875rem; // 14px
  line-height: 1.5625rem; // 25px
  font-weight: 400;
}

@mixin font6 {
  font-size: 0.75rem; // 12px
  line-height: 0.9rem; // 14.4px
  font-weight: 500;
}

@mixin font7 {
  font-size: 0.875rem; // 14px
  line-height: 1.05rem; // 16.8px
  font-weight: 400;
}

@mixin font8 {
  font-size: 1rem; // 16px
  line-height: 1.25rem; // 20px
  font-weight: 400;
}

@mixin font9 {
  font-size: 1.125rem; // 18px
  line-height: 2.125rem; // 21.6px
  font-weight: 700;
}

* {
  position: relative;
  font-family: 'Moderat', sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px; // set base reference from rem units
}

.title {
  background-image: url($logo);
}

.banner-grid {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-items: stretch;
  gap: 1.5rem;

  .banner-item {
    &:hover {
      .banner-image {
        transform: scale(1.02);
      }
    }

    .banner-image {
      padding: 28.83% 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0.375rem;
      transition: transform 0.3s ease-in-out;

      &.first-image {
        background-image: url($card-icon-1);
      }

      &.second-image {
        background-image: url($card-payments);
      }

      &.third-image {
        background-image: url($sdks-plugins);
      }
    }

    .banner-item-text-area {
      .banner-item-title {
        @include font4;
        margin-top: 0.5625rem;
        color: $secondary;
      }

      .banner-item-description {
        @include font8;
        color: $black40;
      }
    }
  }
}


#main-outlet-wrapper.wrap {
  max-width: 100%;
  margin: 0;
  padding: 0 1rem;

  @media screen and (min-width: 640px) {
    & {
      padding: 0 6vw;
    }
  }

  @media screen and (min-width: 960px) {
    & {
      padding: 0 12vw;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      padding: 0 17vw;
    }
  }

  @media screen and (min-width: 1600px) {
    & {
      padding: 0 20vw;
    }
  }
}

#main-outlet {
  padding: 2.25rem 0;
  // margin-left: 80px;
  // margin-right: 80px;

}

.category-breadcrumb,
.topic-excerpt-more {
  display: none;
}

.navigation-container {
  .nav-pills {
    gap: 0.875rem;

    li {
      margin: 0;

      &.nav-item_categories,
      &.nav-item_styleguide {
        display: none;
      }

      a {
        @include font1;
        padding: 0.5rem 1rem;
        background-color: $black10;
        color: $black60;
        border-radius: 0.416875rem;
      }

      &.active a {
        font-weight: 700;
        background-color: $primary-light;
        color: $primary;
      }
    }
  }

  .navigation-controls {
    margin-bottom: 0.25rem;

    .btn-default {
      padding: 0.75rem 1.25rem 0.75rem 1.5rem;
      border-radius: 0.25rem;
      background-color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.375rem;

      svg {
        margin: 0;
        fill: $tertiary;
        padding: 0.0625rem;
      }

      .d-button-label {
        @include font2;
        color: $tertiary;
      }
    }
  }
}

.topic-list-item,
tbody,
tr {
  border: none;
}

.topic-list,
.topic-list-body,
.topic-list-item,
.main-link {
  display: flex;
  flex-direction: column;
}

.topic-list-item {
  .main-link {
    margin: 0.75rem 0;
    padding: 0 1.5rem;
    gap: 1rem;
    background-color: $tertiary;
    border-radius: 0.3125rem;
    border: 0.0625rem solid $black20;
  }

  .author-line {
    display: flex;
    justify-content: space-between;

    .avatar {
      width: 2rem;
      height: 2rem;
      border: none;
    }

    a {
      display: flex;
      gap: 0.5rem;

      .name-and-date {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;

        .full-name-tlist {
          @include font2;
          color: $black80;
        }

        .list-date {
          @include font3;
          color: $black40;
        }
      }
    }
  }

  .topic-title-line {
    a.title {
      @include font4;
      color: $secondary;
      padding: 0;
    }
  }

  .topic-excerpt-line {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & * {
      margin: 0;
      padding: 0;
    }

    .topic-excerpt {
      @include font5;
      width: auto;
    }

    .topic-image {
      border-radius: 0.3125rem;
      padding: 19.098301% 0;
    }
  }

  .topic-list-item-extras {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .topic-list-item-tags {
      .discourse-tags {
        display: flex;
        gap: 0.5rem;

        .discourse-tag {
          @include font6;
          padding: 0.25rem 1rem;
          border-radius: 0.25rem;
          background-color: $black20;
          color: $black80;
          text-transform: capitalize;

          &:after {
            display: none;
          }
        }
      }
    }

    .topic-list-item-info {
      @include font7;
      display: flex;
      gap: 1rem;

      a {
        width: auto;
        display: flex;
        gap: 0.25rem;
        align-items: center;

        span {
          color: $black40;
        }
      }
    }
  }
}

// CJ's Common styles END

.d-header {
  --d-max-width: 100%;
  height: auto;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);


  .wrap {
    margin: 0;
    padding: 22px 17px 22px 24px;
    height: auto;

    .contents.clearfix {
      .title {
        height: auto;

        // h1 {
        //   display: none;
        // }
      }

      .header-buttons {
        margin-left: 2.13rem;
        margin-top: 0;
      }

      .floating-search-input {
        width: 20rem;

        margin: {
          left: auto;
          right: 0;
        }

        ;

        .search-banner-inner.wrap {
          padding: 0;

          .search-input {
            margin: 0;
            padding-left: 0.625rem;
            gap: 0.75rem;
            border: 0.0625rem solid $black20;
            outline: none;

            .search-button.btn-icon {
              position: relative;
              left: 0;
              top: 0;
            }

            #search-term {
              padding: 0.625rem 0;
              box-shadow: none;

              &::-webkit-input-placeholder {
                /* WebKit/Chrome/Opera/Safari */
                @include font1;
                color: $placeholder;
                font-weight: 300;
              }

              &:-moz-placeholder {
                /* Firefox 4-18 */
                @include font2;
                color: $placeholder;
                font-weight: 300;
              }

              &::-moz-placeholder {
                /* Firefox 19+ */
                @include font2;
                color: $placeholder;
                font-weight: 300;
              }

              &:-ms-input-placeholder {
                /* IE 10-11 */
                @include font2;
                color: $placeholder;
                font-weight: 300;
              }

              &::-ms-input-placeholder {
                /* Edge */
                @include font2;
                color: $placeholder;
                font-weight: 300;
              }

              &::placeholder {
                /* Modern Browser */
                @include font2;
                color: $placeholder;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }

  .custom-header-links {
    margin-left: 2rem;

    .top-level-links {
      margin: 0;
      display: flex;
      gap: 1.5rem;

      .custom-header-link {
        display: flex;
        gap: 0.3125rem;
        cursor: default;

        &-icon {
          margin-left: 0.3125rem;
          transform: translate(0, -0.125rem);
          order: 2;

          img {
            width: 1.5em;
            height: 1.5em;
          }
        }

        &-title {
          @include font1;
          color: $secondary;
        }

        &-caret {
          transform: translate(0, -0.125rem);

          svg {
            transform-origin: 30% 60%;
            transition: transform 0.25s ease;
          }
        }

        &:hover {
          &>.custom-header-link-title {
            color: $primary;
          }

          .custom-header-dropdown {
            transform: scale(1);
            transition-delay: 0s;
          }

          .custom-header-link-caret svg {
            transform: rotate(90deg);
          }
        }

        &.with-url {
          cursor: pointer;
        }
      }
    }

    .custom-header-dropdown {
      @include dropdown;
      min-width: 12.5rem;
      transform: scale(0);

      &-link {
        @include font2;
        color: $secondary;
        list-style: none;
        cursor: pointer;

        .custom-header-link-desc {
          flex-basis: 100%;
          margin-top: 0.3em;
          font-size: 0.9em;
          font-weight: 400;
        }

        &:hover {
          .custom-header-link-title {
            color: $primary;
          }
        }
      }
    }
  }

  // hide on scroll when nav is positioned to left of header:
  .title .custom-header-links.scrolling {
    display: none;
  }

  .icons.d-header-icons {
    margin: 0 0 0 2rem;
  }

  .icon.btn-flat {
    padding: 0;
  }

  .avatar {
    border: none;
  }
}

#main-outlet-wrapper {
  // padding-left: 0 !important;
  // padding-right: 0 !important;




  #main-outlet>.regular {
    display: grid;
    // grid-template-columns: auto auto;
    grid-template-columns: 2.25fr 1fr;
    column-gap: 0.5rem;

    #main-outlet>.container {
      grid-column: 1 / span 2;
      grid-row: 1 / 1;
    }


    .suggested-topics-wrapper {
      grid-column: 2;
      grid-row: 2 / 7;

      .suggested-topics {
        margin-top: 0;

        h1,
        h2,
        h3,
        h4,
        h5 {
          font-family: 'Millik';
          font-weight: 400;
          font-size: 24px;
        }
      }
    }

    .title-wrapper {
      // h1,h2,h3,h4,h5{
      //   font-family: 'Millik';
      //   font-weight: 400;
      // }

      a {
        font-family: 'Millik';
        font-weight: 400;
        font-size: 24px;
      }
    }

    .topic-category {
      display: none;
    }
  }
}

.fancy-title {
  vertical-align: top;
}

// .sidebar-wrapper {
//   display: none;
// }

.header-buttons {
  display: flex;

  .custom-header-links {
    order: 1;
  }

  .sign-up-button {
    order: 3;
  }

  .login-button {
    order: 2;
  }
}

.d-header .sign-up-button {
  padding: 0.56rem 1rem;
  background-color: $primary;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 32px;
  display: flex;

  .d-button-label {
    @include font2;
    color: $tertiary;
  }
}

.d-header .login-button {
  padding: 0.56rem 1rem;
  background-color: transparent;
  justify-content: center;
  align-items: center;

  svg {
    display: none;
  }

  .d-button-label {
    @include font2;
    color: $tertiary;
  }
}

// .d-header sign-up-button {
//   padding: 0.56rem 1rem;
//   background-color: transparent;
//   justify-content: center;
//   align-items: center;

//   .d-button-label {
//     @include font2;
//     color: $tertiary;
//   }
// }

// .d-header login-button {
//   padding: 0.56rem 1rem;
//   background-color: $primary;
//   border-radius: 0.25rem;
//   justify-content: center;
//   align-items: center;
// width: 7.3125rem;
// height: 1rem;
//   display: flex;

//   svg {
//     display: none;
//   }

//   .d-button-label {
//     @include font2;
//     color: $tertiary;
//   }
// }

.d-modal.create-account .modal-inner-container,
.d-modal.login-modal .modal-inner-container,
.invites-show .modal-inner-container,
.admin-invite-page .modal-inner-container {
  position: relative;
}

.login-modal:not(.hidden) .login-modal-body.has-alt-auth .login-left-side {
  width: auto;

  .login-modal-body {
    .has-alt-auth {
      .login-left-side {
        align-self: center;
      }
    }
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    border: 0;

    #login-button .d-icon {
      display: none;
    }

    .btn {
      margin: 0;
      background-color: #FF5805;
      color: #FFF;
      width: 249px;
      height: 40px;
    }
  }
}

.login-modal:not(.hidden) .login-left-side #login-form {
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 1.25em;
  margin-left: 0px;
}

.login-modal:not(.hidden) #login-form .input-group input {
  padding: 0.75em 0.77em;
  min-width: 250px;
  box-shadow: none;
  margin-bottom: 0.25em;
  width: 100%;

  background-color: #FFF;
  color: #2A3362;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.login-modal:not(.hidden) .modal-body,
.login-modal:not(.hidden) #credentials {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-modal .modal-body.has-alt-auth,
.create-account .modal-body.has-alt-auth {
  background: #FFFFFF;
}

.login-modal:not(.hidden) #login-form .input-group label.alt-placeholder {
  color: #818181;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 1em;
  top: 10px;
  box-shadow: 0 0 0 0px rgba(var(--tertiary-rgb), 0);
  transition: none;
}

.d-modal.create-account .has-alt-auth .login-form,
.d-modal.create-account .login-form {
  background: #FFF;
  padding: 1em 0 0 0;
  grid-area: form;
  overflow-y: visible;
}

.d-modal.create-account .has-alt-auth .create-account-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-modal.create-account .login-welcome-header {
  background-color: #FFF;

  .login-title {
    display: none;
  }

  .waving-hand {
    display: none;
  }

  .login-subheader {
    background-color: #FFF;
    color: #2A3362
  }
}

.modal-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFF;

  .modal-header {
    display: none;
  }

  .modal .modal-body {
    /* overflow-y: auto; */
    max-height: 400px;
    padding: 1em;

  }

  .login-modal-body {
    .login-left-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 100px;
      background-color: #FFF;

      #new-account-link {
        display: none;
      }

      .login-welcome-header {
        padding: 0 !important;
        margin: 0 !important;
        left: -30px;
      }

      .login-welcome-header>.login-title,
      .login-welcome-header>.waving-hand {
        display: none !important;
      }

      .login-welcome-header>.login-subheader {
        background-color: #FFF;
        color: #2A3362
      }
    }

    .login-right-side {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #FFF;

    }

  }
}