<script type="text/x-handlebars" data-template-name="/connectors/below-site-header/custom-homepage">
  {{#if displayCustomHomepage}} 
    <div class="custom-homepage-wrapper wrap">
       <!-- This div with the class "wrap" will match the max-width
            of Discourse's content. If you want your content to be the 
            full browser width you can remove the div. 
       <!-- Your HTML here -->
       <div class="">
        <h1>This is a big test</h1>
       </div>
    </div>
  {{/if}}
</script>